PORT=3000

JWT_SECRET=sadsadsadawdasdwa

BREVO_API_KEY=dwadsdawdasdwasda

EMAIL_FROM=SlaxStore [seu-email@exemplo.com](mailto:seu-email@exemplo.com)

SMTP_HOST=emanuelgrzinbr232@gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=[seu-email@exemplo.com](mailto:seu-email@exemplo.com)
SMTP_PASSWORD=asdadasdassads
