PORT=3000

JWT_SECRET=COLOQUE_UMA_CHAVE_GRANDE_E_ALEATORIA_AQUI

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=seuemail@gmail.com
SMTP_PASSWORD=SUA_SENHA_DE_APP

EMAIL_FROM="SlaxStore <seuemail@gmail.com>"
